<div class="row">
<div id="dashboard" class="col-lg-6">Welcome! {{ user }}</div>
<div class="col-lg-6">
<a class="pull-right" href="logout">logout</a>
</div>
</div>

<br>
<div id="changePassword">
<form class="form-horizontal">
  <fieldset>
    <legend>Change Password</legend>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">New Password</label>
      <div class="col-lg-6">
        <input type="password" ng-model="newPassword" class="form-control" id="inputPassword" placeholder="Enter New Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6 col-lg-offset-2">
        <button ng-click="setNewPassword()" class="btn btn-info" style="cursor: pointer">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>